.statistics {
  display: flex;
  gap: 20px;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1400px; 
  margin-top: 70px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; 
}

.statCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%; 
  max-width: 33.33%;
  box-sizing: border-box; 
  text-align: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.statTitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.statValue {
  font-size: 28px;
  font-weight: 600;
  color: #007bff;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 25px;
}

.blueIcon {
  color: #0066cc;
}

.orangeIcon {
  color: #ff4500;
}

.greenIcon {
  color: #218838;
}