.container {
  padding: 20px 40px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("/src/assets/mainBackground.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 100%;
}

.pageTitle {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.tableWrapper {
  width: 100%;
  max-width: 1330px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  border: 1px solid #eee;
}

.tableWrapper::-webkit-scrollbar {
  width: 8px;
}
.tableWrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
.tableWrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}
.tableWrapper::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f7f7f7;
  font-weight: bold;
  padding: 12px;
  border-bottom: 2px solid #f1f1f1;
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: left;
}

td {
  padding: 12px;
  border-bottom: 1px solid #f1f1f1;
}

.statusInStock,
.statusOrder {
  padding: 6px 18px;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  min-width: 110px;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  transition: all 0.2s ease;
}

.statusInStock {
  border-color: #40c057;
  color: #2b8a3e;
}

.statusOrder {
  border-color: #fd7e14;
  color: #e8590c;
}

.actionsCell {
  white-space: nowrap;
  width: 100px;
}

.iconButton {
  background: none;
  border: none;
  color: #6c757d;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
  font-size: 18px;
}

.iconButton:hover {
  color: #333;
  transform: scale(1.2);
}

.addMainButton {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.addMainButton:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

.noData {
  text-align: center;
  padding: 40px;
  color: #888;
}
