.container {
  padding: 20px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("/src/assets/mainBackground.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pageTitle {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
  padding-bottom: 10px;
}

.select {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.invoiceTable {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%;
  max-width: 1330px;
  transition: transform 0.3s ease;
}

.invoiceTable:hover {
  transform: translateY(-5px);
}

.invoiceTable h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f1f1f1;
}

.table {
  width: 100%;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
}

th {
  background-color: #f7f7f7;
  font-weight: bold;
  border-bottom: 2px solid #f1f1f1;
}

td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.status {
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100px;
  cursor: default;
  text-align: center;
  white-space: nowrap;
}

.status.available {
  background-color: #c1eac1;
}

.status.backorder {
  background-color: #fff3b0;
  color: #333;
}
