.filters {
  display: flex;
  gap: 10px;           /* проміжок між елементами */
  margin-bottom: 20px; 
  flex-wrap: wrap;
  align-items: center;
}

.select {
  padding: 0.5rem 0.8rem;   /* компактний padding */
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
}

.submitButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Poppins', sans-serif;
  width: auto;
  min-width: 100px;
}

.submitButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.submitButton:active {
  transform: scale(0.98);
}